<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>{{ object.fake_title }}</title>
	</head>
	<body>
		<center>
		<h1>{{ object.fake_title }}</h1>
		{% if object.fake_image %}
		<noscript>
		<img src="{{ object.fake_image}}" />
		</noscript>
		{% endif %}
		<iframe width="560" height="349" src="{{ object.url }}?autoplay=1" frameborder="0" allowfullscreen></iframe><br />
		{{ object.greeting_to_victim }}
		{{ object.increase_views }}
		</center>
	</body>
</html>